html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  min-height: 100%;
  flex-direction: column;
  background-color: #ece2e0;
}

header {
  text-align: center;
  margin: 1rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
  text-align: center;
}

.input {
  font-size: large;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#btn-check,
#nextBtn {
  background: black;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.cashGivenInput {
  display: none;
}
.changeReturn {
  display: none;
}

.errorMsg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
#output {
  font-size: x-large;
  font-weight: 400;
  margin: 2rem 0;
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#output table,
th,
td {
  padding: 0.2rem;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-collapse: collapse;
}
.noOfNotes {
  background-color: white;
  font-weight: bold;
}
table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  word-wrap: break-word;
}

/* footer */

footer {
  margin-top: auto;
}

#footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}
#footer li {
  list-style: none;
  padding: 1.5rem 1rem 1rem;
  font-size: 1.1rem;
}

i {
  color: black;
}

.legacyText {
  font-size: 0.8rem;
  padding-bottom: 1rem;
  text-align: center;
}
